table {
	border: 1px solid gray;
}

thead, tfoot {
	background: linear-gradient(#FAFBFC, #A4ABB2);
}

thead  th {
	font-weight: normal;
	text-align: left;
}

th, td {
	border: 1px solid gray;
}

img {
	text-align: center;
	vertical-align: middle;
}

#one {
	border: 1px solid red;
}

#all-items {
	margin-left: 260px;
}

#top-header-cell {
	text-align: left;
}
